*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    box-sizing: border-box;
}


:root {
  --primary-color: #febdd6;
  --primary-shade: #d49644;
}